---
title: Shop
permalink: /shop
layout: default
---
    <main>
        <!-- Hero -->
        <div class="section section-header pb-7">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h1 class="display-2 mb-4">We are Themesberg</h1>
                        <p class="lead mb-5">Themesberg is an independent branding & experience design company working at the intersection of culture, design, and technology. </p>
                        <a class="btn snipcart-customer-signin login-button btn-primary" href="./contact.html"><span class="fas fa-book-reader mr-2"></span>Our works</a></div>
                </div>
            </div>        
        </div>
        <!-- End of Hero section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    {% for product in site.products %}
                    {% include product-box.html %}
                    {% endfor %}
                </div>
            </div>
        </section>
