<!-- Snipcart -->
<script src="https://cdn.snipcart.com/themes/v3.0.17/default/snipcart.js"></script>
<!-- Core -->
<script src="{{site.baseurl}}/assets/jquery/dist/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/popper.js/dist/umd/popper.min.js"></script>
<script src="{{site.baseurl}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/headroom.js/dist/headroom.min.js"></script>

<!-- assets JS -->
<script src="{{site.baseurl}}/assets/onscreen/dist/on-screen.umd.min.js"></script>
<script src="{{site.baseurl}}/assets/nouislider/distribute/nouislider.min.js"></script>
<script src="{{site.baseurl}}/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="{{site.baseurl}}/assets/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="{{site.baseurl}}/assets/jarallax/dist/jarallax.min.js"></script>
<script src="{{site.baseurl}}/assets/jquery.counterup/jquery.counterup.min.js"></script>
<script src="{{site.baseurl}}/assets/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="{{site.baseurl}}/assets/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="{{site.baseurl}}/assets/prismjs/prism.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="{{site.baseurl}}/assets/js/neumorphism.js"></script>