
<!-- Core -->
<script src="{{site.baseurl}}/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{site.baseurl}}/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="{{site.baseurl}}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="{{site.baseurl}}/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="{{site.baseurl}}/vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="{{site.baseurl}}/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="{{site.baseurl}}/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="{{site.baseurl}}/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="{{site.baseurl}}/vendor/jquery.counterup/jquery.counterup.min.js"></script>
<script src="{{site.baseurl}}/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="{{site.baseurl}}/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="{{site.baseurl}}/vendor/prismjs/prism.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Neumorphism JS -->
<script src="{{site.baseurl}}/assets/js/neumorphism.js"></script>