<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="{{page.lang}}">

<head> 
<!-- Start Head (metadata + Social Tags + Open Graph Data + Schema.org MarkUp + Twitter Data + Favicon + Fontawesome + Analytics + CSS) -->
{% include head.html %}
<!-- End Head-->
</head>

<body>
<!-- Start Header + Navigation -->
{% include header-navigation.html %}
<!-- End Header + Navigation -->
<!-- Start Contents-->
{{ content }}
<!-- End Contents-->
<!-- Start Footer -->
{% include footer.html %}
<!-- End Footer -->
<!-- Start Scripts-->
{% include scripts.html %}
<!-- End Scripts -->
<!-- Snipcart -->
<script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
<div hidden id="snipcart" data-api-key="NTE0MjJkZWEtMzlkNy00MGFkLWI3ZDItZDlhZTVhODk1MDc5NjM3MTI5NTYxNTMyNzI3OTI1"></div>
<cart-header title="Planty">
            <div class="root">
              <header class="snipcart-cart-header" v-if="!loading">
                <close-cart-action class="snipcart-cart-header__close-button snipcart-modal__close">
                  <icon class="snipcart-modal__close-icon snipcart__icon--blue-light" name="back-arrow"></icon>
                  <span class="snipcart-modal__close-title snipcart__font--std">
                    {% raw %}{{ $localize('actions.continue_shopping') }}{% endraw %}
                  </span>
                </close-cart-action>
        
                <h3 class="snipcart-cart-header__title snipcart__font--black snipcart__font--secondary" v-if="title">
                  <img src="{{ site.logos.dark.optimized | relative_url }}" alt="">
                </h3>
        
                <div class="snipcart-cart-header__count snipcart__font--secondary snipcart__font--bold">
                  <icon name="cart" class="snipcart-cart-header__icon snipcart__icon--blue-dark"></icon>
                  {% raw %}{{ itemsCount }}{% endraw %}
                </div>
              </header>
              <header class="snipcart-cart-header" v-else>
                <close-cart-action class="snipcart-modal__close">
                  <icon class="snipcart-modal__close-icon snipcart__icon--blue-light" name="back-arrow"></icon>
                  <span class="snipcart-modal__close-title snipcart__font--std">
                    {% raw %}{{ itemsCount }}{% endraw %}
                  </span>
                </close-cart-action>
              </header>
            </div>
          </cart-header>
          <checkout section="header">
            <div class="root">
              <div class="snipcart-layout__header">
                <header class="snipcart-modal__header snipcart-modal__header--fixed">
                  <close-cart-action class="snipcart-modal__close">
                    <icon name="back-arrow" class="snipcart-modal__close-icon snipcart__icon--blue-light"
                      alt="actions.close_cart"></icon>
                    <span class="snipcart-modal__close-title snipcart__font--std">
                      {% raw %}{{ $localize('actions.continue_shopping') }}{% endraw %}
                    </span>
                  </close-cart-action>
        
                  <img src="{{ site.logos.dark.optimized | relative_url }}" alt="" class="snipcart-modal__logo">
        
                  <div class="snipcart-modal__header-summary">
                    <div
                      class="snipcart-modal__header-summary-title snipcart__font--large snipcart__font--secondary snipcart__font--bold"
                      @click.prevent="showSummary">
                      <icon name="cart" class="snipcart__icon--blue-dark"></icon>
                      <span>
                        {% raw %}{{ total | money(cart.currency) }}{% endraw %}
                      </span>
                      <media name="mobile, tablet">
                        <icon :name="summaryIcon" class="snipcart__icon--blue-dark snipcart__icon--medium"></icon>
                      </media>
                    </div>
                    <cart-summary class="snipcart-cart-summary--small" v-if="summaryVisible" @close="closeSummary"></cart-summary>
                  </div>
                </header>
              </div>
            </div>
          </checkout>
</body>
</html>
